.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5px 5px;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
}

/* Header */

.fixedContent {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 90%;
  height: 220px;

  @media screen and (max-width: 768px) {
    height: 150px;
  }

  ;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fixedContentCollapsed {
  height: 60px;
}

.icon {
  width: 80px;
}

.iconCollapsed {
  width: 50px;
}

.main h3 {
  font-size: 32px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    background-color: #fff;
  }

  ;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  text-align: center;
}

.h3Hidden {
  display: none;
}

/* Main body */

.scrollableContent {
  display: flex;
  flex-direction: column;
  width: 95%;
  flex-direction: column;
  margin-top: 70px;
  /* Match the height of .fixedContent */
  padding-bottom: 100px;
  /* Match the height of .formContainer */
}

.textBubble {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.textBubble p {
  margin: 0;
  padding: 2px;
}

.userBubble {
  align-self: flex-end;
  background-color: #f1f1f1;
  max-width: 50%;
  text-align: right;
}

.parrotBubble {
  background-color: #2ea6c3;
  text-align: left;
  align-self: flex-start;
  max-width: 80%;
  color: #fff;
}

.calvinBubble {
  text-align: right;
  align-self: flex-end;
  max-width: 80%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #202123;
}

/* Bottom section */

.formContainer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.main input[type="text"] {
  padding: 5px 5px;
  line-height: 25px;
  text-indent: 5px;
  border: 1px solid #2ea6c3;
  border-radius: 10px;
  margin-bottom: 10px;
  outline-color: #2ea6c3;
  cursor: pointer;
}

.main input[type="submit"] {
  padding: 5px 5px;
  height: 40px;
  font-size: 20px;
  width: 75%;
  color: #fff;
  background-color: #2ea6c3;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  align-self: center;
}